@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Averta Standard';
    src: url('../fonts/AvertaStandard.ttf');
    font-weight: 400;
    font-style: normal;
}
